$white: #fff;
$gold: #ffca24;
$dark-gray: #333;

table {
  margin-top: 5rem;
  background-color: $dark-gray;
  thead {
    background-color: $dark-gray;
    tr {
      th {
        color: $gold;
      }
    }
  }
  tbody {
    tr {
      .joy {
        font-weight: 900;
        font-size: larger;
      }
      th {
        color: $gold;
        font-weight: 900;
        font-size: larger;
      }
      td {
        color: $gold;
        padding: 1rem !important;
      }
    }
  }
}

.footer {
  margin-bottom: 3rem;
  font-weight: bold;
  font-size: 20px;
}

a:hover {
  text-decoration: none;
  border: solid $gold 2px;
  border-left: none;
  border-right: none;
}

#second-table {
  margin-top: 1rem !important;
  margin-bottom: 5rem;
}
