* {
  font-family: Arial, Helvetica, sans-serif;
}
$gold: #ffca24;
.holder1 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 25px $gold;
}

div ~ p {
  text-align: center;
  font-weight: bold;
}

img {
  border-radius: 5px;
}

.card {
  background-color: rgb(46, 44, 44);
}
