$white: #fff;
$gold: #ffca24;
$dark-gray: #333;

/*col basics*/

%column {
  color: $gold;
  background-color: $dark-gray;
  border: 0.25rem solid $gold;
  text-align: center;
  margin-top: 2%;
  font-size: larger;
  padding-top: initial;
}

#columns {
  margin-top: 20%;
}

.column1 {
  @extend %column;
  height: 5rem;
}

.column2 {
  @extend %column;
  height: 3rem;
}

%part {
  margin: auto;
}

.part1 {
  @extend %part;
  font-weight: bold;
  font-size: larger;
}

.part2 {
  @extend %part;
}

.part3 {
  @extend %part;
}

footer {
  margin-top: auto !important;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 100%;
}

a:hover {
  text-decoration: none;
  border: solid $gold 2px;
  border-left: none;
  border-right: none;
}

.main-part-footer {
  margin-bottom: 3rem;
  font-weight: bold;
  font-size: 20px;
}
